@import url('https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&family=Space+Grotesk:wght@300..700&display=swap');
:root {
  font-family: "Space Grotesk", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0C0C10;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 2.5em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #635768;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.5) ;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #635768;
    color: white;
  }
}

#root {
  height: 100%;
  width: 100%;
}

.app-container {
  display: flex;
  margin-top: none;
  height: 100%;
  width: 100%;
  background-color: #242424;
}


.info-container {
  flex: 2.5;
  width: 100%;
  height: 100%;
  
}

.info-show-bg {
  position: relative;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.6);
  z-index: 1;

}

.info-black-bg {
  width: 100%;
  height: 100%;
  position: relative;
  background-color:  rgba(26, 18, 38, 0.4);
  top: -100%;
  z-index: 2;
  backdrop-filter: blur(20px);
}

.info-main-container {
  position: relative;
  top: -190%;
  left: 15%;
  width: 60%;
  z-index: 3;
}

.info-episode-thumb {
  height: 35vh;
  border-radius: 50px;
  filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.5));
}

.info-main-container h2 {
  color: white;
  font-size: 3em;
  margin-top: 45px;
  margin-bottom: 5px;
  
}
.info-main-container h3 {
  color: #d4cbde;
  font-weight: 500;
  font-size: 2em;
  margin-top: 0em;
  margin-bottom: 0;
  
}
.info-main-container p {
  color: #EFEFEF;
  font-size: 1.5em;
  margin-top: 45px;
}
.info-main-container .info-episode-code {
  color: #d4cbde;
  font-size: 1.5em;
  margin-top: 3px;
  font-weight: 300;
}

.sidePanel-container {
  flex: 1;
  z-index: 0;
  background: linear-gradient(180deg, rgba(241, 94, 94, 0) 0%, rgba(75, 100, 166, 0.2) 100%), #0C0C10;
  color: white;
}

.nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  gap: 35px;
 
}

.nav-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.nav-roll-button {
  height: 30vh;
  background: none;
  border-radius: 100%;
  padding: 0;
  margin-bottom: 30px;
}

.nav-roll-button img {
  height:100%;
}

.listPanel-container {
  width:80%;
  margin: auto;
  margin-top: 25px;
}

input {
  color: white;
  background-color: #312d33;
  padding: 10px;
  border-radius: 8px;
  border: none;
  font-family: "Space Grotesk", system-ui, Avenir, Helvetica, Arial, sans-serif;
}

input::file-selector-button {
  background-color: #635768;
  font-weight: 500;
  font-family: inherit;
  background-color: #635768;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.5) ;
  border-radius: 3px;
  border: none;

}